{% extends "layout.html" %} {% block title %} shuvro first project{% endblock %}
{% block content %}
<h1 class="text-center text-white mt-4">Welcome To Django Family</h1>

<h2>
  {% if form.instance.pk %}Edit Tweet{% else %} Create Tweet{% endif %}

  <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
  <a href="{% url 'tweet_list' %}">Back to Tweet list</a>
</h2>

{% endblock %}
